@model Nemesys.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Create Report";
}

<h2>Create Report</h2>

<form asp-action="Create" method="post" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="DateOfReport" class="col-md-2"></label>
        <div class="col-md-5">
            <input asp-for="DateOfReport" class="form-control" />
            <span asp-validation-for="DateOfReport" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="col-md-2"></label>
        <div class="col-md-5">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location" class="col-md-2"></label>
        <div class="col-md-5">
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="HazardType" class="col-md-2"></label>
        <div class="col-md-5">
            <input asp-for="HazardType" class="form-control" />
            <span asp-validation-for="HazardType" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="HazardDateTime" class="col-md-2"></label>
        <div class="col-md-5">
            <input asp-for="HazardDateTime" class="form-control" />
            <span asp-validation-for="HazardDateTime" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2"></label>
        <div class="col-md-5">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="col-md-2"></label>
        <div class="col-md-5">
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Upvotes" class="col-md-2"></label>
        <div class="col-md-5">
            <input asp-for="Upvotes" class="form-control" />
            <span asp-validation-for="Upvotes" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            <input type="submit" class="btn btn-primary" value="Create Report" />
            <a asp-controller="Reports" asp-action="Index" class="btn btn-outline-secondary">Back to list</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
