@{
    ViewData["Title"] = "Error";
}

<h2>Woops!</h2>
<h2>There was an error, and we couldn't recover from it. What can you do?</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Action
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Home" asp-action="Index">Go to the homepage</a>
        </dd>
    </dl>
</div>
