@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Nemesys</title>
    <link rel="stylesheet" href="~/wwwroot/css/site.css">
</head>
<body>
    <div class="container">
        <div class="title-section">
            <h1 class="title">Nemesys</h1>
            <p class="description">a Near Miss Exposure and Reporting System</p>
        </div>
    </div>
</body>
