@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<head>
    <title>Nemesys</title>
    <link rel="stylesheet" href="~/wwwroot/css/site.css">
</head>
<body>
    <div class="title-section">
        <h2 class="subtitle">Nemesys's Privacy policy</h2>
        <p class="text">At Nemesys, we take privacy very seriously. Therefore, we are committed to protecting the personal information provided by users.</p>
        <li>We use advanced security measures, such as the encryption of passwords to avoid that, in the event that they were leaked, these would be made public and your accounts would be at risk.</li>
        <li>We keep all data securely stored in the database.</li>
        <li> We do not share your data with third parties without your consent.</li>
    </div>
</body>
